.container{
    border: 10px solid rgb(5, 28, 64);
    background-color: rgb(212, 226, 252);
    margin: 0px auto;
    padding: 20px;
    width: 67%
}

h1{
    color: rgb(41, 84, 154);
    text-align: center;
}

p{
    color: rgb(5, 33, 93)
}

body{
background-color: rgb(141, 187, 239);
}